/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}

/* UTILITIES */
/* displays */
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}

/* HEADER */
header {
    padding: 15px 20px 0;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.logo {
    margin-bottom: 10px;
}

.logo img {
    max-width: 75px;
    margin-right: 15px;
}

.logo span {
    font-size: 25px;
    color: #5f6368;
}

nav ul li {
    list-style: none;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #5f6368;
    font-weight: 500;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}

nav ul li a.active,
nav ul li a:hover {
    color: #3367d6;
    border-color: currentColor;
}

/* MAIN */
main {
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

main .container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 50px 0;
}

main .answer {
    margin-bottom: 100px;
}

main h2 {
    margin: 30px 0;
    line-height: 1.2em;
    font-size: 30px;
}

main p {
    margin-bottom: 25px;
}

/* FOOTER */
footer {
    height: 40px;
    background-color: lightgray;
}